<%- include ('../partials/header') %>
<header class="intro-header" style="background-image: url('https://images.unsplash.com/photo-1499615767948-e6a89ef6060f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ff7e0816b73331eb0f205ac167b2094f&auto=format&fit=crop&w=1350&q=80')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <hr class="small">
                    <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
<%adminActions.forEach((action)=>{%>
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <button id="<%=action.actionId %>" onclick="catchID(this.id)" type="button" class="btn btn-outline-primary btn-block float-left"><%=action.displayName %></button>
        </div>
       </div>
    <%});%>
    </div>


</div>
<script>
    function catchID(clicked_id){
        alert(clicked_id + " Butona tıklandı")
        if(clicked_id == 1){
            window.location.href="changeProduct"; return false;
        }
        if(clicked_id == 2){
            window.location.href="newproduct"; return false;
        }
    }
</script>
<%- include ('../partials/footer') %>